* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: fantasy;
  
}

/*animation svg*/
object {
  width: 512px;
  height: 350px;
  animation: pulsing 2s infinite;
  transform: translateZ(0);
}

@keyframes pulsing {
  0% {

    transform: scale(1, 1)
  }

  50% {

    transform: scale(0.9, 0.9);
  }

  100% {

    transform: scale(1, 1);
  }
}


/*animation background*/
.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: black url('./img/stars.png') repeat top center;
  z-index: -2;
}

.twinkling {
  background-image: url("./img/twinkling.png");
  animation: 3s twinkle infinite;
  animation-timing-function: linear;
  z-index: -1;
}

@keyframes twinkle {
  from {
    backrgound-position: 0
  }

  to {
    background-position: -100px 0
  }
}

/*nav*/
.main-nav__items li{
  list-style: none;
  margin-bottom: 0.9em;
  text-align: center;
  transition: all 1s ease;
}
.main-nav__items li a,a {
  margin: 0.5em;
  color: white;
  text-align: center;
  font-size: 2.2em;
  line-height: 1.4em;
  border: 1px solid #7757b171;
  border-radius: 15px;
  background-color: #7757b171;
  padding: 0.2em;
  text-decoration: none;
  cursor: pointer;
  
}

.main-nav__items li:hover a{
  border: 3px solid #b3a8c971;
}
